<!DOCTYPE html>
<html lang="en">
    <style>
        #btnSet {
            position: absolute;
            bottom:2rem;
            margin : auto;
            display : flex;
            justify-content: center;
            width : 80%;
        }
        button {
            font-weight: bold;
            padding : 2rem;
        }
    </style>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HeroHaru</title>
    </head>
    <body>
        <canvas id ="canvas"></canvas>
        <div id="btnSet">
            <button id="upBtn">↑</button>
            <button id="downBtn">↓</button>
        </div>
        <script src="./js/heroharu.js"></script>
    </body>
</html>